body {
  background-color: #111;
  font-family: "Courier New", courier, monospace;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #EEEEEE;
}

a {
	color: #21f621;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #FFF;
}

pre {
  background: #f5f7f9;
  color: #222;
  padding: 1em;
  border-left: 2px solid #69c;
  overflow-x: auto;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-family: monospace;
}
