@import url("normalize.css");
@import url("chroma-monokai.css");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
body {
  background-color: #111;
  font-family: "Source Sans 3", sans-serif;
  font-size: large;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #EEEEEE;
}

blockquote {
  color: #d4d4d4;
  font-style: italic;
}

a {
	color: #21f621;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
  margin-top: 2em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #FFF;
  font-weight: bold;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-family: monospace;
  background-color: #222222;
  border-radius: 5px;
}

pre {
  background: #000000;
  border-radius: 8px;
  color: #222;
  padding: 1em;
  overflow-x: auto;
}

pre code {
  padding: 0px 0px;
  background-color: #000000;
  border-radius: 0px;
}

img {
  max-width: 100%;
}