@import url("normalize.css");

body {
  background-color: #111;
  font-family: "Verdana", courier, monospace;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #EEEEEE;
}

a {
	color: #21f621;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #FFF;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  font-family: monospace;
  color: #69c;
  background-color: #222222;
  border-radius: 5px;
}

pre {
  background: #000000;
  border-radius: 8px;
  color: #222;
  padding: 1em;
  overflow-x: auto;
}

pre code {
  padding: 0px 0px;
  background-color: #000000;
  border-radius: 0px;
}

img {
  max-width: 100%;
}